{% extends "bandeja/base.html" %}
{% block content %}
    {% for ticket in tickets %}
        {% if ticket.autor == user %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ ticket.autor.perfil.imagen.url }}" alt="">
                <div class="media-body">
                    <div class="article-metadata mr-auto">
                        <div class="row">
                            <div class="col-sm">
                                <a class="mr-2" href="#">{{ ticket.autor.first_name }} {{ ticket.autor.last_name }}</a>
                            </div>
                            <div class="col-sm">
                                <small>Estado: En espera</small>
                            </div>
                            <div class="col-sm">
                                <small class="text-muted">{{ ticket.fecha }}</small>
                            </div>
                        </div>
                    </div>
                    <h3><a class="article-title" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.titulo }}</a></h3>
                    <p class="article-content">{{ ticket.descripcion }}</p>
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <small class="text-muted">Ticket #{{ ticket.id }}</small>
                        </div>
                        <div class="col-sm">
                            <small class="text-muted">Respuestas: 0</small>
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}