{% extends "bandeja/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sugerencias</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Enviar</button>
            </div>
            {% if user.is_superuser %}
                <div class="border-top pt-3">
                        <a class="ml-2" href="{% url 'bandeja-sugerencias' %}">Bandeja de Sugerencias</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}